<h1>Cycletime Scatterplot</h1>
<div>This chart shows only completed work and indicates both what day it completed as well as how many days it took to get done. Hovering over a dot will show you the ID of the work item.</div>
<div>
  <canvas id="cycletime_scatterplot" width="800" height="200"></canvas>
</div>
<script>
new Chart(document.getElementById('cycletime_scatterplot').getContext('2d'), {
  type: 'scatter',
  data: {
    datasets: <%= JSON.generate(data_sets) %>
  },
  options: {
    title: {
      display: true,
      text:    "Cycletime Scatterplot"
    },
    responsive: true, // If responsive is true then it fills the screen
    scales: {
      x: {
        type: "time",
        time: {
            format: 'YYYY-MM-DD'
        },
        scaleLabel: {
          display: true,
          labelString: 'Date Completed'
        }
      },
      y: {
        scaleLabel: {
          display: true,
          labelString: 'Days'
        }
      }
    },
    plugins: {
      tooltip: {
        callbacks: {
          label: function(context) {
            return context.dataset.data[context.dataIndex].title
          }
        }
      }
    }
  }
});
</script>
