<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.2.2/chartjs-plugin-annotation.min.js" integrity="sha512-HycvvBSFvDEVyJ0tjE2rPmymkt6XqsP/Zo96XgLRjXwn6SecQqsn+6V/7KYev66OshZZ9+f9AttCGmYqmzytiw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
      dl, dd, dt {
        padding: 0;
        margin: 0;
      }
      dd {
        margin-bottom:  0.4em;
      }
      span.highlight {
        background: #FDD5B1;
      }
    </style>
  </head>
  <body>
    <%= "\n" + @sections.join("\n\n") %>
  </body>
</html>
