<h1>Story Point Accuracy</h1>
<p>
  This chart graphs story point estimates against actual recorded cycle times. Since story point estimates can change over time, we're graphing the estimate at the time that the story started.
</p>
<p>
  The color coding indicates how many issues fell at that intersection of estimate and actual.
</p>
<div>
  <canvas id="<%= chart_id %>" width="800" height="200"></canvas>
</div>
<script>
new Chart(document.getElementById('<%= chart_id %>').getContext('2d'), {
  type: 'scatter',
  data: {
    datasets: <%= JSON.generate(data_sets) %>
  },
  options: {
    title: {
      display: true,
      text: "Sprint Burndown"
    },
    responsive: true, // If responsive is true then it fills the screen
    scales: {
      x: {
        type: "linear",
        scaleLabel: {
          display: true,
          labelString: 'Date'
        },
        title: {
          display: true,
          text: "Cycletime (days)"
        },
        min: 0

      },
      y: {
        scaleLabel: {
          display: true,
          labelString: 'Items remaining'
        },
        title: {
          display: true,
          text: "Story Point Estimates"
        },
        min: 0.0
      }
    },
    plugins: {
      tooltip: {
        callbacks: {
          label: function(context) {
            return context.dataset.data[context.dataIndex].title
          }
        }
      },
    }
  }
});
</script>
