<h1>Flow of Daily WIP</h1>
<div>This chart shows the highest WIP on each given day. The WIP is color coded so you can see how old it is and hovering over the bar will show you exactly which work items it relates to. The green bar underneath, shows how many items completed on that day.
<div>
  <canvas id="<%= chart_id %>" width="800" height="200"></canvas>
</div>
<script>
new Chart(document.getElementById('<%= chart_id %>').getContext('2d'),
{
  type: 'bar',
  data: {
    datasets: <%= JSON.generate(data_sets) %>
  },
  options: {
    title: {
      display: true,
      text:    "Flow of Daily WIP"
    },
    responsive: true, // If responsive is true then it fills the screen
    scales: {
      x: {
        type: 'time',
        time: {
          unit: 'day'
        },
        stacked: true
      },
      y: {
        stacked: true,
        scaleLabel: {
          display: true,
          labelString: 'WIP'
        }
      }
    },
    plugins: {
      tooltip: {
        callbacks: {
          label: function(context) {
            return context.dataset.data[context.dataIndex].title
          }
        }
      }
    }
  }
});
</script>
