<html>
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="https://github.com/mikebowler/jirametrics/blob/main/favicon.png?raw=true" />
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.2.2/chartjs-plugin-annotation.min.js" integrity="sha512-HycvvBSFvDEVyJ0tjE2rPmymkt6XqsP/Zo96XgLRjXwn6SecQqsn+6V/7KYev66OshZZ9+f9AttCGmYqmzytiw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
      function expand_collapse(link_id, issues_id)  {
        link_text = document.getElementById(link_id).textContent
        if( link_text == 'Show details') {
          document.getElementById(link_id).textContent = 'Hide details'
          document.getElementById(issues_id).style.display = 'block'
        }
        else {
          document.getElementById(link_id).textContent = 'Show details'
          document.getElementById(issues_id).style.display = 'none'
        }
      }
      // If we switch between light/dark mode then force a refresh so all charts will redraw correctly
      // in the other colour scheme.
      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
        location.reload()
      })

    </script>
    <style>
<%= css %>
    </style>
  </head>
  <body>
    <%= "\n" + @sections.collect { |text, type| text if type == :header }.compact.join("\n\n") %>
    <%= "\n" + @sections.collect { |text, type| text if type == :body }.compact.join("\n\n") %>
  </body>
</html>
